Data
FaceLandmark.ipynb
FaceDetector.ipynb
Face_Detect_Landmark.ipynb
image.png
[MediaPipe_Python_Tasks]_Face_Landmarker.ipynb
face_landmarker_v2_with_blendshapes.task
face_landmark.py
facial_keypoints.xlsx
FeshMeshModule.py
__pycache__
rename.py